{{ define "content" }}
  <div class="page-header">
    <h1>{{ .Title }}</h1>
  </div>
  <p>This is the current state of a work in progress web app being written in GOlang, for the purpose of learning golang.</p>
  <p></p>
  <p>For more information see the About page</p>
  <p></p>
  <p>For current TODO list please register and see the Member News page, also the member suggestion page for any ideas you have for future developments. </p>
  <p></p>
  <p>Coming soon: a feedback page, as we would be very grateful to improve the user experience. In the meantime please send any comments by email.
  <p></p>
  <p> Please email me at <a href="mailto:admin@gocloudcoding.com">admin@gocloudcoding.com</a>
{{ end }}
