{{ define "content" }}
  <div class="page-header">
    <h1>{{ .Title }}</h1>
  </div>
  <p>This is the current state of a work in progress web app being written in GOlang, for the purpose of learning golang.</p>
  <p></p>
  <p>For more information see the About page</p>
  <p></p>
  <p>For current TODO list please register and see the MemberNews page</p>
  <p></p>
  <p>Coming soon a members suggestion page with vote ratings for each suggestion</p>
  <p></p>
  <p> Please email me at <a href="mailto:admin@gocloudcoding.com">admin@gocloudcoding.com</a>
{{ end }}
