{{ define "content" }}
  <div class="page-header">
    <h1>{{ .Title }}</h1>
  </div>
  <p>GolangWebApp is in development.</p>
  <p>It is a blank app template written in GOlang. </p>
  <p>The purpose of developing it is to learn Golang web development</p>
  <p>TODO:</p>
  <p>e.mailed link for registration process time limited</p>
  <p>idle timeout</p>
  <p>log out</p>
  <p>login e.mail reminder for forgotten password/username at signin</p>
  <p>Member Comments page for feedback and suggestions</p>

{{ end }}
