<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Golang WebApp</title>
    <link rel="stylesheet" href="{{ .Static }}css/bootstrap.min.css" type="text/css">
    <link rel="shortcut icon" href="{{ .Static }}img/favicon.ico">
  </head>
    <body>
        <h2>Form Demo to retrieve e.mail address</h2>
        <form>
              <fieldset>
                        <legend>Enter the search criteria here, e.g. "Maxine":</legend>
                        <p></p>
                        <label>Name</label>
                       <form action="/auth/display" method="post" accept-charset="utf-8" class="pure-form">
                              <input type="text" name="name" placeholder="name" />
                              <input type="submit" value=".. and query database!" formaction="/auth/display/"/>
                        </form>
                        </p>
                        <p></p>
                        <label>Menu</label>
                       <form action="/" method="post" accept-charset="utf-8" class="pure-form">
                              <input type="submit" value="return to main menu" formaction="/"/>
                        </form>
                        </p>
              </fieldset>
        </form>
    </body>
</html>
