{{ define "content" }}
  <div class="page-header">
    <h1>{{ .Title }}</h1>
  </div>
  <p>GolangWebApp is in development.</p>
  <p>It is a blank app template written in GOlang. </p>
  <p>The purpose of developing it is to learn Golang web development</p>
  <p></p>
  <p><a href="https://www.github.com/AllGoodPlanes/GolangWebApp/" target="_blank">For the full project code</a></p>
  <p></p>
  <p>TODO:</p>
  <p>Browser caching issues - as per vary.com/pagespeed test</p>
  <p>Render blocking CSS/JS needs sorting - as per vary.com/pagespeed test</p>
  <p>e.mailed link for registration process time limited</p>
  <p>Outlook365 tls cert</p>
  <p>Upgrade to paid Heroku service to include SSL on email messaging</p>
  <p>idle timeout</p>
  <p>log out</p>
  <p>login e.mail reminder for forgotten password/username at signin</p>
  <p>Member Comments page for feedback and suggestions</p>
  <p>Suggestion rating</p>
  <p>Write tests</p>
  <p>Dockerize</p>

{{ end }}
