<!DOCTYPE html>
<html lang="en">
<head>
<style>
body {background-color:white}
p    {color: red}
p1	 {color: black}
legend {color: blue}
</style>
    <title></title>
</head>
<body>
    <form>
          <fieldset>
                    <legend></legend>
                    <p>
                    <p><b>{{html .}}</b></p>
                    <p1><br>You must include a username<br></p1>
                    <p1><br>Your username must include only alpha numeric and under score characters<br></p1>
                    <p1><br>You must include a password, with at least 6 characters, including UPPER and lower case letters and numbers.<br><p1>
                    <p><a href="/register/">Try Registering again!</a></p>
                    <p><a href="/">Go back to home page.</a></p>
                    </p>
          </fielsset>
    </form>
</body>
</html>
