<!DOCTYPE html>
<html lang="en">
<head>
<style>
body {background-color:white}
p    {color: red}
p1	 {color: black}
legend {color: blue}
</style>
    <title></title>
</head>
<body>
    <form>
          <fieldset>
                    <legend></legend>
                    <p>
                    <p1><br>You should receive an e.mail.<br></p1>
                    <p1><br>Click on the link in the message to complete your registration.<br></p1>
                    <p1><br>If you don't then please try again.<br><p1>
                    <p><a href="/register/">Try Registering again!</a></p>
                    <p><a href="/">Go back to home page.</a></p>
                    </p>
          </fielsset>
    </form>
</body>
</html>
