{{define "content"}}
<div class="page-header">
	<h1>Suggestions</h1>

  <form action="/auth/signout" method="post">
	  <button name="signout" type="submit" class="btn btn-info btn-sm" formaction="/auth/signout/">
		  <a href="#"><span class="badge"></span>
	  <span class="glyphicon glyphicon-log-out"></span>Log out
  </a>
  </form>
</div>
    <form>
          <fieldset>
                    <legend>Add your suggestion, or upvote a comment</legend>
                    <p></p>
                    <label></label>
                   <form action="/auth/addcomment" method="post" accept-charset="utf-8" class="pure-form">
                          <input type="text" name="suggestion" placeholder="suggestion" />
                          <input type="submit" value="Post" formaction="/auth/addcomment/" />
          </fieldset>
    </form>

    <form>
	    {{template "form".}}
    </form>
    <p></p>
{{ end }}
